.card {
  width: 18rem;
  height: 25rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}